.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;

  h2 {
    text-align: center;
    margin: 0 0 1.5rem 0;
  }

  .card {
    width: 25rem;
    max-width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
    color: var(--color-black);

    display: flex;
    flex-direction: column;

    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .input {
        width: 100%;
      }

      .formLabel {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        span {
          font-size: 0.8rem;
          color: var(--color-primary);
        }
      }
    }

    .linkContainer {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
  }
}
