.container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .mixTitle {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .progressContainer {
    flex: 1;
    position: relative;

    .indicator {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      color: black;
    }
  }

  .ProgressRoot {
    overflow: hidden;
    background: rgb(245, 245, 245);
    border-radius: 9999px;
    width: 100%;
    height: 32px;

    .ProgressIndicator {
      width: 100%;
      height: 100%;
      transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
    }

    .M {
      background-color: var(--color-primary);
    }

    .I {
      background-color: var(--color-terciary);
    }

    .X {
      background-color: var(--color-secondary);
    }
  }
}
