.container {
  .card {
    width: 10rem;
    height: 20rem;
    background-color: gray;
    border-radius: 1rem;

    &.swipeLeft {
      animation: swipeLeft 1s ease-in-out;
    }
    &.swipeRight {
      animation: swipeRight 1s ease-in-out;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 0 0;
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(-1000px) rotate(-45deg);
  }
}

@keyframes swipeRight {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(1000px) rotate(45deg);
  }
}