.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .card {
        width: 25rem;
        max-width: 100%;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        background-color: var(--color-white);
        color: var(--color-black);
        text-align: center;
        text-wrap: balance;

        display: flex;
        flex-direction: column;


        strong {
            font-size: 1.5rem;
        }

        .win {
            color: #39c044;
        }

        .loose {
            color: var(--color-primary);
        }
    }

    .gif {
        height: 5rem;
        width: fit-content;
        margin: auto;
    }
}