.modal {
  border: none;
  border-radius: 8px;
  animation: onAppear 0.3s ease-in-out;
  margin: auto;
  width: 500px;
}


@keyframes onAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}