.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;

  .title {
    text-wrap: balance;
    text-align: center;
  }

  section {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #0e3533;
    width: 550px;
    max-width: 90%;
    box-shadow: rgba(98, 98, 105, 0.2) 0px 7px 29px 0px;
  }

  .buttons {
    display: flex;
    gap: 5rem;
  }

  .picture {
    width: 75%;
    border-radius: 0.5rem;
    box-shadow: rgba(98, 98, 105, 0.5) 0px 7px 29px 0px;
  }
}