$swipeTime: 1s;

.container {
  position: relative;
  margin: auto;
  width: 20rem;
  height: 32rem;

  .card {
    position: absolute;
    top: 0;
    width: 20rem;
    height: 32rem;
    background-color: rgb(245, 245, 245);

    color: var(--color-black);
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.5s ease-in-out;

    &:nth-child(1),
    &:nth-child(2) {
      box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    }

    .title {
      text-wrap: balance;
      text-align: center;
    }

    .icon {
      width: 6rem;
      margin: 0px auto;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      button {
        width: 100%;
      }
    }

    &.swipeLeft {
      animation: swipeLeft $swipeTime ease-in-out;
    }

    &.swipeRight {
      animation: swipeRight $swipeTime ease-in-out;
    }
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  100% {
    transform: translateX(-1000px) rotate(-45deg);
  }
}

@keyframes swipeRight {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  100% {
    transform: translateX(1000px) rotate(45deg);
  }
}