.button {

  &.contained,
  &.outlined {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  &.contained {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);

    &:hover {
      background-color: var(--color-primary-dark);
    }
  }
  &.outlined {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);

    &:hover {
      background-color: var(--color-primary-dark);
      color: var(--color-white);
      border-color: var(--color-primary-dark);
    }
  }

}