.header {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

  .logo {
    height: 3rem;
  }

  button {
    all: unset;
  }

  .starsWarsModeContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .switchRoot {
    width: 42px;
    height: 25px;
    background-color: white;
    border-radius: 9999px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:focus {
      box-shadow: 0 0 0 2px var(--color-black);
    }

    &[data-state="checked"] {
      background-color: var(--color-primary);
    }
  }

  .switchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: black;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--black-a7);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;

    &[data-state="checked"] {
      transform: translateX(19px);
    }
  }
}
