footer{
    border-top: 1px solid white;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.MentionsLegal {
    color: white;
    font-size: small;
    opacity: 0.8;
    font-weight: normal;
}

.MentionsLegal:hover {
    color: turquoise;
    font-size: small;
    opacity: 0.8;
}
.copyright{
    font-size: small;
    opacity: 0.8;
}