.container {
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &.shake {
    animation: shake 0.2s;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}