@font-face {
  font-family: "StarWars";
  src: url("/fonts/STJEDISE.TTF");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #fb8151;
  --color-primary-light: #ff9a7b;
  --color-primary-dark: #f96a3d;
  --color-black: #051918;
  --color-secondary: #2dd9C8;
  --color-white: #fafafa;
  --color-terciary: #ffec20;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  background: var(--color-black);
  color: var(--color-white);
}

#root {
  min-height: 100vh;
}

main {
  padding: 1rem 0;
  min-height: calc(100vh - 70px);

  background-image: url('/images/blue-wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% ;
}


body.SWTheme {
  background-image: url("/images/starsky.png") !important;
  background-size: cover;
  color: var(--color-white);
  cursor: none !important;
}

body.SWTheme main {
  background: none;
}

#light-saber-cursor {
  display: none;
}

body.SWTheme #light-saber-cursor {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

body.SWTheme h1,
body.SWTheme h2,
body.SWTheme h3,
body.SWTheme h4,
body.SWTheme h5 {
  font-family: "StarWars";
  font-weight: 400;
  text-transform: lowercase;
}